* {
    /* background-color:rgb(43; */
    /* color: aliceblue; */
    --primary-color:rgb(242, 244, 246);
  
    --navbar-text:rgb(253, 248, 248) ;

    --Hover-color: aqua;
  
    text-decoration: none;
    color: var(--primary-color);
    margin: 0px;
    padding: 0px;
    font-family: 'Mullish';
    
    
}
.Big1-5{
    font-size: 1.5em;
}

/* scroll effect */
html {
   
    /* Adjust the scroll speed by changing the duration value */
    --scroll-duration: 2s;
    --scroll-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --scroll-easing: var(--scroll-timing-function) var(--scroll-duration);
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* scroll-behavior: var(--scroll-easing); */
  }
  
  

.Page{
    background: rgb(3,14,42);
    background: linear-gradient(90deg, rgba(3,14,42,1) 0%, rgb(2, 36, 78) 100%);
}




    header {
        position: sticky;
        background: rgb(3,14,42);
        background: linear-gradient(90deg, rgba(3,14,42,1) 0%, rgb(2, 36, 78) 100%);
        display: flex;
        justify-content: space-around;
        height: 50px;
        position: sticky;
        padding: 10px;
        font-size: 1.25em;
        background-color: var(--navbar-color);
        color:var(--navbar-text);

    }

    #logo {
        float: left;
        position:absolute;
        left: 50px;
        background-color: var(--navbar-color);
        color:var(--navbar-text) ;
    }

    nav {
    
        padding-left: 20%;
        display: flex;
        width: 70vh;
        /* margin-right: 20px; */
        justify-content: space-around;
        /* align-content: space-; */
        background-color: var(--navbar-color);
        color:var(--navbar-text);

    }

    nav a {
        justify-self: center;
       
        float: right;
        background-color: var(--navbar-color);
        color:var(--navbar-text);


    }


    
    .group {
        position: relative;
    }
      
    .custom-container {
        display: flex;
        justify-content: center;
        align-content: center;
    } 
      
    .custom-link {
        color: white;
        font-family: 'Mullish', sans-serif;
        padding-top: 0.75rem;
        cursor: pointer;
        transition: all 0.2s;
    }
      
    .group:hover .custom-link {
        color: var(--Hover-color);
    }
      
    .custom-line {
        position: absolute;
        bottom: 5px;
        width: 30%;
        min-width: 35px;
        height: 2.5px;
        background-color: var(--Hover-color);
        display: none;
        transition: all 0.2s;
    }
      
    .group:hover .custom-line {
        display: block;
    }
      

      


    .Page {
        height: 90vh;
        padding: 40px;;
        padding-top:60px;
    }

    #Home {
        display: flex;
        background: rgb(3,14,42);
        background: linear-gradient(90deg, rgba(3,14,42,1) 0%, rgb(2, 36, 78) 100%);
    }

    .Hbox {
        display: flex;
        
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 18%;
    }
    
    #intro {
        width: 60%;

        /* padding: 20%; */
    }

    #Hbox>h1,
    #Hbox>h4,
    #Hbox>h3 {
        text-align: center;
        padding: 5px;
        margin: 5px;
        max-width: 50%;
        /* font-size: 1.5em; */

    }

    #Homeimg{
        width: 40%;
    }

    #Homeimg img{
        height: 25em;
        width:  25em ;
        border-radius: 10px;
        max-height: 250px;
        max-width: 250px;
    }

    #aboutinfo
    {
        width:55%;
    }

    #aboutinfo> h1,p,ul
    {
        margin: 5px;
        padding: 10px;
    }

    #Resume a{
        border: 2px solid var(--primary-color);
        padding: 5px;
        border-radius: 5px;
        margin-left: 20px;
    }

  

    #OrgCont{
        margin-top: 30px;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        
    }

    .eduOrg{
        display: flex;
        flex-direction: column;
        border: 2px solid var(--primary-color);
        max-width: 560px;
        /* height: minmax(70vh,1200px) ; */
        height: 70vh;
        margin: 10px;
        border-radius: 20px;
        padding: 15px;
        box-sizing: border-box;
        padding: 10px;
        align-items: center;
        text-align: center;
        
    }
    
    .eduOrg ul {
        text-align: center;
        list-style-position: inside;
      }

    .eduOrgImg {
        display: flex;
        justify-content: center;
        margin: 10px;
        height: 60%;
    }
    
    .eduOrgImg img{
        border-radius: 15px;
        width: 80%;
        height: 90%;
    }
    .eduOrgInfo{
        margin: 10px;
        padding: 10px;
        /* align-content: center; */
    }
    

    #Skills{
        display: grid;
        grid-column: 80vw 20vw;
        grid-row: 1vh 45vh 45vh;
        grid-template-areas: 
        "head head"
        "skill1 pro"
        "skill2 pro";
    }

    #Skills > h1{
        grid-area: head;
    }

    .skill{
        grid-area: skill1;
        display: flex;
        flex-direction: row;
        border: 2px solid var(--primary-color);
        max-width: 900px;
        border-radius: 20px;
        padding: 15px;
        box-sizing: border-box;
        padding: 10px;
        margin: 20px;
        /* height: 40%; */
        /* justify-content: center; */
        align-items: center;
    }
    .cover{
        grid-area: pro;
        display: grid;
        grid-template-columns:70% 30% ;
        /* flex-direction: row-reverse; */
        /* justify-content: center; */
        align-items: center;
        /* box-sizing: border-box; */
        /* margin-left: 30px; */

    }
    #Ids{
        transform: rotate(90deg);
        
    }
    
    #Profile{
        
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;


    }

    #Profile img{

        height: 55px;
        border-radius: 4px;

    }
    
    
    #skill2{
        grid-area: skill2;
        flex-direction: row-reverse;
    }
    
    .skillImg img{
        border-radius: 15px;
        width: 100%;
        height: 90%;
    }
    .skillInfo{
        margin: 10px;
        padding: 10px;
    }
    
    footer{
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
        padding: 20px;
        background: rgb(3,14,42);
        background: linear-gradient(90deg, rgba(3,14,42,1) 0%, rgb(2, 36, 78) 100%);

    }

    footer img{
        
        height: 50px;
        width: 50px;
        border-radius: 4px;
    }
    



@media (max-width:500px) {}