* {
    /* background-color:rgb(43; */
    /* color: aliceblue; */
    --primary-color:rgb(242, 244, 246);
  
    --navbar-text:rgb(253, 248, 248) ;

    --Hover-color: aqua;
  
    text-decoration: none;
    color: var(--primary-color);
    margin: 0px;
    padding: 0px;
    font-family: 'Mullish';
    
    transition: all 0.2s;
}




@keyframes slideInDown{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
    }
}

@keyframes slideInUp{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
    }
}

@keyframes slideInRight{
    0%{
        opacity: 0;
        transform: translateX(-40px);
    }
    100%{
        opacity: 1;
    }
}

@keyframes slideInLeft{
    0%{
        opacity: 0;
        transform: translateX(40px);
    }
    100%{
        opacity: 1;
    }
}

.animate-on-scroll {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.animate-on-scroll.animate-in {
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.hidden{
    transform: translateY(-100%);
}




body{
    background: rgb(3,14,42);
        background: linear-gradient(90deg, rgba(3,14,42,1) 0%, rgb(2, 36, 78) 100%);
}

.Big1-5{
    font-size: 1.5em;
}

/* scroll effect */
html {
   
    /* Adjust the scroll speed by changing the duration value */
    --scroll-duration: 2s;
    --scroll-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --scroll-easing: var(--scroll-timing-function) var(--scroll-duration);
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* scroll-behavior: var(--scroll-easing); */
  }
  
  

.Page{
    background: rgb(3,14,42);
    background: linear-gradient(90deg, rgb(7, 41, 127) 0%, rgb(2, 36, 78) 100%);
}




    header {
        position: sticky;
        background: rgb(3,14,42);
        background: linear-gradient(90deg, rgba(3,14,42,1) 0%, rgb(3, 44, 95) 100%);
        
          
          
        display: flex;
        justify-content: space-around;
        height: 50px;
        position: sticky;
        padding: 10px;
        font-size: 1.25em;
        background-color: var(--navbar-color);
        color:var(--navbar-text);
        /* transition: transform 3s; */
    }
    
    #logo {
        animation: slideInLeft 2s;
        float: left;
        position:absolute;
        left: 50px;
        background-color: var(--navbar-color);
        color:var(--navbar-text) ;
    }
    
    nav {
        
       
        padding-left: 20%;
        display: flex;
        width: 70vw;
        max-width: 600px;
        /* margin-right: 20px; */
        justify-content: space-around;
        /* align-content: space-; */
        /* background-color: var(--navbar-color);    */
        color:var(--navbar-text);

    }

    .custom-container{
        animation: slideInUp 2s;
    }

    nav a {
        justify-self: center;
       
        float: right;
        background-color: var(--navbar-color);
        color:var(--navbar-text);


    }

    


    /* navbar for mobile */
.mobile-menu {
    display: none;
  }
  
  .menu-toggle {
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .bar {
    background-color: var(--navbar-text);
    height: 3px;
    width: 25px;
    margin: 5px 0;
    border-radius: 3px;
    transition: 0.3s;
  }
  
  .mobile-nav {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: var(--navbar-color);
    color: var(--navbar-text);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .mobile-nav a {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: var(--navbar-text);
    transition: background-color 0.3s;
  }
  
  .mobile-nav a:hover {
    background-color: var(--Hover-color);
  }
  



    
    .group {
        position: relative;
    }
      
    .custom-container {
        display: flex;
        justify-content: center;
        align-content: center;
    } 
      
    .custom-link {
        color: white;
        font-family: 'Mullish', sans-serif;
        padding-top: 0.75rem;
        cursor: pointer;
        transition: all 0.2s;
    }
      
    .group:hover .custom-link {
        color: var(--Hover-color);
        transform: translateY(-7px);
    }
    
    .custom-line {
        position: absolute;
        bottom: 5px;
        width: 30%;
        min-width: 35px;
        height: 2.5px;
        background-color: var(--Hover-color);
        display: none;
        transform: translateY(-10px);
        transition: all 1s;
    }
      
    .group:hover .custom-line {
        display: block;
    }
      

      


    .Page {
        height: 90vh;
        padding: 40px;;
        padding-top:60px;
    }

    #Home {
        display: flex;
        background: rgb(3,14,42);
        background: linear-gradient(90deg, rgba(3,14,42,1) 0%, rgb(2, 36, 78) 100%);
    }

    .Hbox {
        display: flex;
        
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 18%;
    }
    
    #intro {
        width: 60%;
        animation: slideInRight 2s;
        text-align: center;
        /* padding: 20%; */
    }

    #Hbox h1,
    #Hbox h4,
    #Hbox h3 {
        text-align: center;
        padding: 5px;
        margin: 5px;
        max-width: 50%;
        /* font-size: 1.5em; */

    }

    #Homeimg{
        width: 40%;
        animation: slideInLeft 3s;
    }

    #Homeimg img{
        height: 25em;
        width:  25em ;
        border-radius: 10px;
        max-height: 250px;
        max-width: 250px;
    }

    #aboutinfo
    {
        width:55%;
    }

    #aboutinfo> h1,p,ul
    {
        margin: 5px;
        padding: 10px;
    }

    #Resume a{
        border: 2px solid var(--primary-color);
        padding: 5px;
        border-radius: 5px;
        margin-left: 20px;
    }

  

    #OrgCont{
        margin-top: 30px;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        
    }


    .eduOrg:hover{
        transform:scale(1.1) ;
    }

    .eduOrg{
        display: flex;
        flex-direction: column;
        border: 2px solid var(--primary-color);
        max-width: 560px;
        /* height: minmax(70vh,1200px) ; */
        height: 70vh;
        margin: 10px;
        border-radius: 20px;
        padding: 15px;
        box-sizing: border-box;
        padding: 10px;
        align-items: center;
        text-align: center;
        
    }
    
    .eduOrg ul {
        text-align: center;
        list-style-position: inside;
      }

      .eduOrgImg {
        display: flex;
        justify-content: center;
        margin: 10px;
        height: 60%;
    }
    
    .eduOrgImg img{
        border-radius: 15px;
        width: 80%;
        height: 90%;
    }
    .eduOrgInfo{
        margin: 10px;
        padding: 10px;
        /* align-content: center; */
    }
    
    @media (min-width:700px){

        #Skills{
            display: grid;
            grid-column: 70vw 30vw;
            grid-row: 1vh 45vh 45vh;
            grid-template-areas: 
            "head head"
            "skill1 pro"
            "skill2 pro";
        }

        /* #Ids{
            transform: rotate(90deg);
            
        } */
    }
        
    #Skills > h1{
        grid-area: head;
    }

    .skill{
        grid-area: skill1;
        display: flex;
        flex-direction: row;
        border: 2px solid var(--primary-color);
        max-width: 900px;
        border-radius: 20px;
        padding: 15px;
        box-sizing: border-box;
        padding: 10px;
        margin: 20px;
        /* height: 40%; */
        /* justify-content: center; */
        align-items: center;
    }
    .cover{
        grid-area: pro;
        display: grid;
        /* grid-template-columns:70% 30% ; */
        /* flex-direction: row-reverse; */
        /* justify-content: center; */
        align-items: center;
        /* box-sizing: border-box; */
        /* margin-left: 30px; */

    }
    
    #Ids{
        text-align: center;
    }

    #Profile{
        
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;


    }

    #Profile img{

        height: 65px;
        width: 65px;
        border-radius: 4px;

    }
    
    
    #skill2{
        grid-area: skill2;
        flex-direction: row-reverse;
    }
    
    .skillImg img{
        border-radius: 15px;
        width: 100%;
        height: 90%;
    }
    .skillInfo{
        margin: 10px;
        padding: 10px;
    }
    
    .footer{
        display: flex;
        margin: auto;
        /* flex-direction: column; */
        justify-content: space-around;
       max-width:600px ;
        /* gap: 50px; */
        padding: 20px 0;
        /* background: rgb(3,14,42); */
        

    }

    .footer img{
        
        height: 50px;
        width: 50px;
        border-radius: 4px;
    }
    
   #Contact{
    padding-top: 60px 20px 20px 20px;
    height: 90vh;
   }
  
    form {
        max-width: 400px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    label {
        color: #031d38;
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }
    

    /* textarea:active,input:active {
        background: rgb(3,14,42);
        background: linear-gradient(90deg, rgba(3,14,42,1) 0%, rgb(2, 36, 78) 100%);
    } */

    input,
    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        color: #031d38;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    textarea{
        resize: none;
    }

    button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
  
    button:hover {
        background-color: #0056b3;
    }



@media (max-width:700px) {
    

    nav{
        display: none;
    }
    .navbar{
        justify-content:end;
        z-index: 10;
    }
    .mobile-menu {
        display:inline-block ;
        /* position: absolute; */
        justify-self: end;
        /* margin-right:20px ; */
        padding-right: 10px;
       
      }
      

      #logo {
        float: left;
        position:absolute;
        left: 20px;
        background-color: var(--navbar-color);
        color:var(--navbar-text) ;
    }
    
      /* .nav-bar {
        display: none;
      }
    
      .menu-toggle {
        display: block;
      }
      */
    
      #mobile-nav {
        z-index: 130;
        height: 75vh;
        width: 100vw;
        background-color: #031d38;
        opacity: 0.99;
      }

      #Home{
        width: 100vw;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
      }

      #Hbox{
        width: 100vw;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
    }
    
    #intro{
        text-align: center;
        width: 100%;
        /* margin-top: -50vh; */
        height: 60vh;
    }
    
    #Homeimg{
        align-self: flex-start;
          width: 100vw;
        align-self: center;
        height: 30vh;
        padding-bottom: 0;
        position: absolute;
        top: 125px;
        max-height: 30vh;

      }
      #Homeimg img{
        z-index: -1;
        max-height: 200px;
        max-width: 200px;
      }

      #OrgCont{
        flex-direction: column;
        align-items: center;
        height: 90vh;
      }

      .eduOrg{
        width: 90vw;
        height: 48%;
            
      }

      .eduOrgImg{
        height: 40%;
        width: 60%;
      }

      #Education{
        /* width: 100vw; */
        padding-top: 20px;
        
    }
    .eduOrgInfo{
        margin:0 ;
        padding: 5px;
    }
    
    #Skills{
        padding: 60px 20px;
          margin-top: 65px;
          display: grid;
         /* width: 100vw; */
          grid-row: 1vh 45vh 45vh;
          grid-template-areas: 
          "head "
          "skill1"
          "skill2"
          "pro";
       
      }

      .skill{
        width: 86vw;
      }

      .cover{
        display: flex;
        flex-direction: column;
      }

      #Profile{
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
        
      }
     


      #Projects{
        margin-top: 75px;
      }
      
}